@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  color: #dc2626;
  font-size: 30px;
  opacity: 1;
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
  color: #b91c1c;
}

@media (max-width: 768px) {
  .slick-prev {
    left: -25px;
  }
  .slick-next {
    right: -25px;
  }
}
